<section class="section">
  <div class="container">
    <h2 class="title">
      <%= @post.title %>
    </h2>
    <p class="content">
      <%= @post.description.html_safe %>
    </p>
    <p class="level-item">
      <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-primary' %>
    </p>
    <p class="level-item">
      <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
    </p>
    <hr/>
  </div>
</section>

<section class="section comments">
  <div class="container">
    <h2 class="subtitle is-5"><strong><%= @post.comments.count %></strong> Comments</h2>
    <%= render @post.comments %>
    <div class="comment-form">
      <hr />
      <h3 class="subtitle is-3">Leave a reply</h3>
      <%= render 'comments/form' %>
    </div>
  </div>
</section>